  <% provide :title,   "Register" %>
  <% provide :button_text, "Register" %>
  <div class="page-wrapper">
    <div class="page-content--bge5">
      <div class="container">
        <div class="login-wrap">
          <div class="login-content">
            <div class="login-logo">
              <a href="#">
                <%= image_tag("logo_register.png", :alt=>"") %> </a>
            </div>
            <%= render  "form" %>
            <div class="register-link">
              <p>
                Already have account?
                <%= link_to  "Log In", login_path %>>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>