<div class="bradcam_area <%= yield(:image_slide)%>">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text text-center">
          <h3><%= yield(:title_slide) %></h3>
          <p><%= yield(:content_slide) %></p>
        </div>
      </div>
    </div>
  </div>
</div>