// Place all the styles related to the admin/Tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.carousel-indicators {
  position: static;

  .item {
    &.active {
      background: transparent;

      img {
        opacity: 0.7;
      }
    }
  }
}
