<% provide :title, "Edit" %>
<% provide :button_text, "Save Change" %>
<div class="page-wrapper">
  <div class="page-content--bge5">
    <div class="container">
      <div class="login-wrap">
        <div class="login-content">
          <div class="login-logo">
            <a href="#">
              <%= image_tag("logo_register.png", :alt=>"") %> </a>
          </div>
          <%= render  "users/form" %>
        </div>
      </div>
    </div>
  </div>
</div>